<div id = "div1" color = red >
<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @contact.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @contact.last_name %>
</p>

<p>
  <b>Color:</b>
  <%= @contact.color %>
</p>

<p>
  <b>Quantity:</b>
  <%= @contact.quantity %>
</p>

<p>
  <b>Email:</b>
  <%= @contact.email %>
</p>

<p>
  <b>Text:</b>
  <%= @contact.text %>
</p>

